.secretList{position: relative;
  .add-secret-button{position: absolute;right: 0;top:0; background: #fff;border-radius: 35px; padding: 11px 13px 17px;}
  .secret{background: #fff;position:relative;margin: 35px 0 55px;border-radius: 15px;padding: 15px;
    .name{position: absolute;top:-35px;left:15px;color:#fff;}
    &:after{content: '';position: absolute;top:-12px;left:10px;border-bottom: 14px solid #fff;border-right: 6px solid transparent;border-left: 6px solid transparent;}
  }
  .loading{font-size: 22px;color:white;text-align: center;}
  .hidden{display: none;}
}